<div class="flex items-center justify-between gap-4 text-sm">
  <p class="px-4 font-semibold">หมวดหมู่ทั้งหมด</p>
  <button
    (click)="addCategoryPanel.open()"
    class="px-4 py-2 rounded-lg hover:bg-stone-100 border border-stone-100 flex gap-2 items-center"
  >
    <i class="ms">create_new_folder</i> เพิ่มหมวดหมู่
  </button>
</div>

<hr class="my-2" />

@for (category of categories(); track $index) {
<FileButton [to]="[category.id]" [label]="category.title">
  <p class="text-xs text-stone-400 flex items-center gap-2">
    <i class="ms">more_time</i>{{ category.createdAt | date }}
  </p>
  <p class="text-xs text-stone-400 flex items-center gap-2">
    <i class="ms">update</i> {{ category.updatedAt | date }}
  </p>
  <ManageGroup manageType="category" [category]="category" />
</FileButton>
} @if (addCategoryPanel.isOpened) {
<AddCategoryPanel @fade (closed)="addCategoryPanel.close()" />
}
