<div class="flex items-center justify-between gap-4 text-sm">
  <p class="px-4 font-semibold">{{ currentSeries()?.title }}</p>
  <button
    (click)="addSeriesLessonPanel.open()"
    class="px-4 py-2 rounded-lg hover:bg-stone-100 border border-stone-100 flex gap-2 items-center"
  >
    <i class="ms">add_notes</i> เพิ่มเนื้อหา
  </button>
</div>

<hr class="my-2" />

<FileButton
  [to]="['..']"
  label=".."
  icon="note_stack"
  [entireLinkable]="true"
/>

@if (seriesLessons(); as seriesLessons) { @for (seriesLesson of seriesLessons;
track $index) {
<FileButton
  [to]="[
    '/',
    'edit',
    'series-lesson',
    categoryId(),
    seriesId(),
    seriesLesson.id
  ]"
  [label]="seriesLesson.title"
  icon="sticky_note_2"
>
  <p class="text-xs text-stone-400 flex items-center gap-2">
    <i class="ms">more_time</i>{{ seriesLesson.createdAt | date }}
  </p>
  <p class="text-xs text-stone-400 flex items-center gap-2">
    <i class="ms">update</i> {{ seriesLesson.updatedAt | date }}
  </p>
  <ManageGroup
    manageType="serieslesson"
    [category]="currentCategory()"
    [series]="currentSeries()"
    [seriesLesson]="seriesLesson"
  />
</FileButton>
} } @if (addSeriesLessonPanel.isOpened) {
<AddSeriesLessonPanel @fade (closed)="addSeriesLessonPanel.close()" />
}
