<DraggableTool>
  <ng-container ngProjectAs="menu-start">
    <select [(ngModel)]="lang" class="text-xs">
      @for (language of languages; track $index) {
      <option [value]="language">{{ language }}</option>
      }
    </select>
  </ng-container>
  <ng-container ngProjectAs="menu-end"></ng-container>
  <ng-container ngProjectAs="content">
    <div class="flex gap-2">
      @if (editorPanel.isOpened && !es.globalReadonly()) {
      <div class="bg-stone-50 rounded-lg w-64 shrink-0">
        <textarea [(ngModel)]="data.code"></textarea>
      </div>
      }
      <div class="grow max-w-screen-sm mx-auto overflow-x-scroll pt-2">
        <p class="text-xs text-stone-500">{{ lang }}</p>
        <markdown
          [data]="data.code | language : lang"
          [lineNumbers]="config.lineNumbers"
          class="prose prose-stone w-full"
        ></markdown>
      </div>
    </div>
  </ng-container>
  <ng-container ngProjectAs="block-id">{{ id }}</ng-container>
</DraggableTool>
