@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Noto Sans Thai";
  src: url("/fonts/NotoSansThai.ttf");
}

@font-face {
    font-family: "Material Symbols Rounded";
    src: url("/fonts/MaterialSymbolsRounded.woff2");
  }

body {
  font-family: "Noto Sans Thai";
  @apply text-slate-900;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-500 rounded-full;
}


