<div class="w-24 h-dvh invisible"></div>
<div class="w-24 h-dvh p-4 flex flex-col gap-4 bg-stone-100 fixed top-0 left-0">
  <div class="size-16 bg-stone-500 rounded-xl"></div>
  <nav>
    <ul class="space-y-4">
      <li>
        <button
          class="flex justify-center items-center flex-col gap-1 text-xs group"
        >
          <div
            class="flex w-16 justify-center items-center rounded-full group-hover:bg-stone-200 px-4 py-2 transition-all"
          >
            <i class="ms">home</i>
          </div>
          Home
        </button>
      </li>
      <li>
        <button
          class="flex justify-center items-center flex-col gap-1 text-xs group"
        >
          <div
            class="flex w-16 justify-center items-center rounded-full group-hover:bg-stone-200 px-4 py-2 transition-all"
          >
            <i class="ms">folder_managed</i>
          </div>
          Manage
        </button>
      </li>
    </ul>
  </nav>
</div>
