<div class="flex items-center justify-between gap-4 text-sm">
  <p class="px-4 font-semibold">
    {{ currentCategory()?.title }}
  </p>
  <div class="flex items-center gap-4">
    <button
      (click)="addLessonPanel.open()"
      class="px-4 py-2 rounded-lg hover:bg-stone-100 border border-stone-100 flex gap-2 items-center"
    >
      <i class="ms">note_add</i> เพิ่มบทเรียน
    </button>
    <button
      (click)="addSeriesPanel.open()"
      class="px-4 py-2 rounded-lg hover:bg-stone-100 border border-stone-100 flex gap-2 items-center"
    >
      <i class="ms">note_stack_add</i> เพิ่มชุดบทเรียน
    </button>
  </div>
</div>

<hr class="my-2" />

<FileButton [to]="['..']" label=".." [entireLinkable]="true" />

@if (lessons(); as lessons) { @for (lesson of lessons; track $index) {
<FileButton
  [to]="['/', 'edit', 'lesson', categoryId(), lesson.id]"
  [label]="lesson.title"
  icon="description"
>
  <p class="text-xs text-stone-400 flex items-center gap-2">
    <i class="ms">more_time</i>{{ lesson.createdAt | date }}
  </p>
  <p class="text-xs text-stone-400 flex items-center gap-2">
    <i class="ms">update</i> {{ lesson.updatedAt | date }}
  </p>
  <ManageGroup
    manageType="lesson"
    [category]="currentCategory()"
    [lesson]="lesson"
  />
</FileButton>
} } @if (series(); as seriesList) { @for (series of seriesList; track $index) {
<FileButton [to]="[series.id]" [label]="series.title" icon="note_stack">
  <p class="text-xs text-stone-400 flex items-center gap-2">
    <i class="ms">more_time</i>{{ series.createdAt | date }}
  </p>
  <p class="text-xs text-stone-400 flex items-center gap-2">
    <i class="ms">update</i> {{ series.createdAt | date }}
  </p>
  <ManageGroup
    manageType="series"
    [category]="currentCategory()"
    [series]="series"
  />
</FileButton>
} } @if (addLessonPanel.isOpened) {
<AddLessonPanel @fade (closed)="addLessonPanel.close()" />
} @if (addSeriesPanel.isOpened) {
<AddSeriesPanel @fade (closed)="addSeriesPanel.close()" />
}
