<div class="flex items-center justify-between gap-4 text-sm">
  <p class="px-4 font-semibold">{{ currentCategory()?.title }}</p>
  <div class="flex items-center gap-4">
    <button
      (click)="addLessonPanel.open()"
      class="px-4 py-2 rounded-lg hover:bg-stone-100 border border-stone-100 flex gap-2 items-center"
    >
      <i class="ms">note_add</i> เพิ่มบทเรียน
    </button>
    <button
      (click)="addSeriesPanel.open()"
      class="px-4 py-2 rounded-lg hover:bg-stone-100 border border-stone-100 flex gap-2 items-center"
    >
      <i class="ms">note_stack_add</i> เพิ่มชุดบทเรียน
    </button>
  </div>
</div>

<hr class="my-2" />

<FileButton [to]="['..']" label=".." [entireLinkable]="true" />

@if (data(); as d) { @for (l of data(); track $index) {
<FileButton
  [to]="['/', 'edit', 'lesson', categoryId(), l.id]"
  [label]="l.title"
  icon="description"
>
  <p class="text-xs text-stone-400 flex items-center gap-2">
    <i class="ms">more_time</i>{{ "12-12-2001" }}
  </p>
  <p class="text-xs text-stone-400 flex items-center gap-2">
    <i class="ms">update</i> {{ "12-12-2001" }}
  </p>
  <ManageGroup
    manageType="lesson"
    [category]="currentCategory()"
    [lesson]="l"
  />
</FileButton>
} } @if (data1()) { @for (s of data1(); track $index) {
<FileButton [to]="[s.id]" [label]="s.title" icon="note_stack">
  <p class="text-xs text-stone-400 flex items-center gap-2">
    <i class="ms">more_time</i>{{ "12-12-2001" }}
  </p>
  <p class="text-xs text-stone-400 flex items-center gap-2">
    <i class="ms">update</i> {{ "12-12-2001" }}
  </p>
  <ManageGroup
    manageType="series"
    [category]="currentCategory()"
    [series]="s"
  />
</FileButton>
} } @if (addLessonPanel.isOpened) {
<AddLessonPanel @fade (closed)="addLessonPanel.close()" />
} @if (addSeriesPanel.isOpened) {
<AddSeriesPanel @fade (closed)="addSeriesPanel.close()" />
}
