@if (entireLinkable) {
<button
  [routerLink]="to"
  class="px-4 py-2 w-full flex items-center gap-4 hover:bg-stone-100 rounded-lg"
>
  <i class="ms">{{ icon }}</i>
  {{ label }}
</button>
} @else {
<div
  class="fake-btn px-4 py-2 w-full flex justify-between items-center gap-4 hover:bg-stone-100 rounded-lg group"
>
  <div class="flex items-center gap-4 shrink-0 grow-0">
    <i class="ms">{{ icon }}</i>
    <div class="w-64 truncate">
      <a [routerLink]="to" class="hover:underline">
        {{ label }}
      </a>
    </div>
  </div>
  <ng-content />
</div>
}
